**/build/**
**/config/**
**/dist/**
**/coverage/**
**/node-modules/**
**/.firebase/**
**/__snapshots__/**
**/package-lock.json
**/.editorconfig
**/.*ignore
**/.gitignore
**/.browserslistrc
**/.firebaserc
**/LICENSE
**/*.txt
**/*.png
**/*.svg
**/*.woff
**/*.woff2
**/*.jpeg
**/*.jpg
**/*.ico
